html,
body {
    height: 100%;
}

#container {
    display: table;
    margin: auto;
}

#login-page {
    display: table-cell;
    vertical-align: middle;
}

#loading {
    display: none;
}

#loaded {
    display: block;
}