* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 200px;
    /*width: 310px;*/
    margin: 0 auto;
}

.card {
    /* Add shadows to create the "card" effect */
    margin: .5rem auto 1rem auto !important;
    padding: 10px;
    border-radius: 5px !important;
    /*transition: 0.3s;
    width: 310px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

img {
    border-radius: 5px 5px 0 0;
}

img.center {
    display: block;
    margin: 0 auto;
}

img.img-top {
    padding-top: 20px;
    max-width: 100px;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.container {
    padding: 2px 16px;
}

#container {
    text-align: center;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}

@media (max-width: 300px) {
    #photo-container,
    #photo {
        height: 40px;
        width: 40px;
    }
}

div.center {
    text-align: center;
}

h4 {
    text-align: center;
}

.screen-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#body-loadding {
    display: block;
}

#body-loaded {
    display: none;
}